@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/*---------- INITIALIZE SETTINGS ----------*/

:root {
    --cyan: hsl(179, 62%, 43%);
    --yellow: hsl(71, 73%, 54%);
    --light_gray: hsl(204, 43%, 93%);
    --blue_gray: hsl(218, 22%, 67%);
    --card_radius: 1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


/*---------- GENERAL CONTENT ----------*/

body {
    background: var(--light_gray);
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

div.card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 70rem;
    height: 480px;
    margin: 15.5rem auto 5rem auto;
    background: white;
    border-radius: var(--card_radius);
    box-shadow: 0px 3px 15px #bfbfbf;
}

div.text-wrapper {
    width: 85%;
    margin: auto;
    padding-top: 3.5rem;
}

/*---------- JOIN COMMUNITY COMPONENT ----------*/

div.join-community-component {
    background: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

div.join-community-content-wrapper h1 {
    font-size: 3rem;
    color: var(--cyan);
    font-weight: 700;
} 

div.join-community-content-wrapper h2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 3rem 0 2rem 0;
    color: var(--yellow);
}


div.join-community-content-wrapper p {
    font-size: 1.8rem;
    line-height: 3rem;
    color: hsl(222, 3%, 61%);
}

/*---------- SECOND ROW COMPONENTS ----------*/

div.card-second-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: inherit;
    color: white;
}

div.card-second-row div.text-wrapper {
    padding-left: 2rem;
}

div.subscription-component {
    background: var(--cyan);
    border-bottom-left-radius: inherit;
}

div.subscription-component div.subscription-content-wrapper p.price {
    font-size: 3rem;
    padding: 1.5rem 0 1rem 0;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

div.subscription-component div.subscription-content-wrapper p.price span {
    vertical-align: top;
    position: relative;
    top: 0.8rem;
    left: 0.8rem;
    font-size: 1.7rem;
    letter-spacing: 0;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
}

div.subscription-component div.subscription-content-wrapper p.day-price {
    opacity: 0.95;
}

div.subscription-component div.subscription-content-wrapper p {
    font-size: 1.6rem;
}

div.subscription-component div.subscription-content-wrapper button {
    margin-top: 2.3rem;
    width: 90%;
    height: 5rem;
    border: none;
    background: var(--yellow);
    border-radius: 0.4rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    letter-spacing: 0.1rem;
}

div.subscription-component div.subscription-content-wrapper h3, 
div.why-us-component div.why-us-content-wrapper h3 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

div.why-us-component {
    background: hsl(179, 47%, 52%);
    border-bottom-right-radius: inherit;
}

div.why-us-component div.why-us-content-wrapper ul {
    list-style-type: none;
    padding-top: 1rem;
}

div.why-us-component div.why-us-content-wrapper ul li {
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;
    opacity: 0.7;
    transition: all 0.3s;
}

div.why-us-component div.why-us-content-wrapper ul li:hover {
    opacity: 1
}


/*---------- MEDIA QUERIES ----------*/

@media only screen and (max-width: 780px) {

    :root {
        --card_radius: 0.9rem;
    }
    
    /*----- GENERAL COMPONENTS -----*/

    div.card {
        width: 35rem;
        height: 750px;
        grid-template-rows: 1fr 2fr;
    }

    /*----- JOIN COMMUNITY COMPONENT -----*/
    
    div.join-community-content-wrapper h1 {
        font-size: 2.2rem;
    }

    div.join-community-content-wrapper h2 {
        font-size: 1.6rem;
        padding: 2.3rem 0 1.8rem 0;
    }

    div.join-community-content-wrapper p {
        font-size: 1.5rem;
        line-height: 2.3rem;
    }
    

    /*----- SECOND ROW COMPONENTS -----*/
    
    div.card-second-row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        border-radius: 0;
    }

    div.card-second-row div.text-wrapper {
        padding-left: 0;
    }
    
    div.subscription-component div.subscription-content-wrapper p {
        font-size: 1.7rem;
    }

    div.subscription-component div.subscription-content-wrapper p.price {
        font-size: 3rem;
        padding: 1.5rem 0 1.3rem 0;
    }

    div.subscription-component div.subscription-content-wrapper button {
        width: 100%;
        margin-top: 3rem;
        height: 5.5rem;
        font-size: 1.6rem;
        transition: all 0.3s;
    }

    div.subscription-component div.subscription-content-wrapper button:hover {
        color: hsl(71, 73%, 54%);
        background: white;
    }

    div.subscription-component div.subscription-content-wrapper p.price span {
        font-size: 1.7rem;
        top: 0.7rem;
        padding-left: 0.7rem;
    }

    div.why-us-component {
        border-bottom-right-radius: var(--card_radius);
        border-bottom-left-radius: var(--card_radius);
    }

    div.why-us-component div.why-us-content-wrapper ul {
        padding-top: 1.7rem;
    }

    div.why-us-component div.why-us-content-wrapper ul li {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
    
    div.subscription-component div.subscription-content-wrapper h3, 
    div.why-us-component div.why-us-content-wrapper h3 {
        font-size: 1.7rem;
    }

}

@media only screen and (max-width: 368px) {

    :root {
        font-size: 6px;
    }

    /*----- GENERAL COMPONENTS -----*/
    div.card {
        height: 75rem;
    }
}